/* hide these elements while printing */
@media print
    .sidebar
        display: none !important
        width: 0 !important
    .page
        padding: 3rem 0 !important
        .edit-link
            display: none
        .page-nav
            display: none
    .navbar
        .links
            display: none !important
    .page-edit
        display: none !important

